<a href="https://colab.research.google.com/github/dishamodi0910/Python/blob/main/PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Keywords_Identifiers_Indentation_Comments_Input_Output

In [ ]:
import keyword
#print("Helloworld");
#print("\n");
#print("The keywords in python are : #");
#print(keyword.kwlist);

x = 12;
#@ = 13;
print(x);
#print(@x);
#print(x@);
print("Value of x is : ",x);
#print "The value of x is " + str(x)
a = 10;
b = 20;
print("Value of a is {} and that of b is {} ".format(a,b));
print("Value of a is {1} and that of b is {0} ".format(a,b));
print("Value of a is : ",a,"Value of b is : ",b);

a = "Hello"
b = "World"
print(a,b);
print("{a} {b}".format(a="Hello",b="World"));
print("We have {abc} project under {subject} subject.".format(abc = "Django",subject = "Software project"));
print ("The value of x is "+str(x))

#Single Line Comment

#MuLtI
#LiNe
#CoMmEnT

"""This is also 
    a multi
    Line Comment"""

12
Value of x is :  12
Value of a is 10 and that of b is 20
Value of a is 20 and that of b is 10
Value of a is :  10 Value of b is :  20
Hello World
Hello World
We have Django project under Software project subject.
The value of x is 12

'This is also \n    a multi\n    Line Comment'

Document Strings

-->used to mention access the strings of document

In [ ]:
def my_fun():
  '''HELLO WORLD'''
    #comment

print(my_fun.__doc__)   #accesses the '''''' content.

def double_num(num):
  return 2*num;

print(double_num(6))
print(double_num.__doc__);  #There is no string in the document..Hence has no use here.

HELLO WORLD
12
None

Variables and playing with them

Variable types - 
Integers
Float
Strings (Single quotes,double quotes)
Characters
Complex Numbers
Boolean 


id(ONE_ARGUMENT)
type(ONE_ARGUMENT)
isinstance(character,datatype)


Strings are immutable

In [ ]:
a = 12;  #assigning variables
#isinstance --> Used to check the datatype instance
print(a,isinstance(a,int));

#complex numbers are also allowed
print(5+6j,isinstance(5+6j,complex))

a = "Hello World"
print(a)

a = 34.566
print(a)


#various ways for string declarations and definations
a = '1'
print(a,type(a))
a = "1"
print(a,type(a))
a = '''1'''
print(a,type(a))
a = """1"""
print(a,type(a))


a,b,c = "Hello",5,78.90   #Assigning Multiple variables at a time.
#id ---> Tells us about the address of variable
#type --->Tells us about the type of variable
print(a,"\n",b,"\t",c)
print(id(a),type(a))
print(id(b),type(b))
print(id(c),type(c))

a=b=c="Great"   #Assigning values to all the variables at a time
print(a," ",b," ",c)
print(id(a),type(a))
print(id(b),type(b))
print(id(c),type(c))


a = False;
print(id(a),type(a),a)


str = "hELLOWORLD"
#str[0] = "H"
print(str)
print(str[7])
print(str[6:])
print(str[1::3])
#printing string in reverse
print(str[-1::-1])

12 True
(5+6j) True
Hello World
34.566
1 <class 'str'>
1 <class 'str'>
1 <class 'str'>
1 <class 'str'>
Hello
 5 	 78.9
140131439661808 <class 'str'>
11531040 <class 'int'>
140131438851248 <class 'float'>
Great   Great   Great
140131440604016 <class 'str'>
140131440604016 <class 'str'>
140131440604016 <class 'str'>
11397120 <class 'bool'> False
hELLOWORLD
R
ORLD
EOR
DLROWOLLEh

List,Tuple,Dictionary,Sets

List is the only mutable.
Set is not subsrciptable
List - > []  =>Unordered and mutable,Duplicates allowed
Sets -> {}   =>Ordered and immutable, No duplicates allowed
Tuple -> ()   =>Unordered and immutable,Duplicates allowed
Dictionary -> { key : value }, Duplicates allowed but the last modified value will be considered.

In [ ]:

#Lists
a = [1,"Helloworld",'A',True,1.11,'''HEY''','A']
print(a)
a[4] = 12355.878
print(a)
print(id(a),type(a))
print(id(a[1]))
#print(id(a[6]))



#Tuples
a = ('Hello',"HEY",12,1232.8367,'Hello')
print(a,id(a),type(a))
#a[2] = 63735
print(a[3],id(a),type(a))



#Sets
a = {1,2,3,4,43/4364,"Hello",'Hello'}
print(a,id(a),type(a))
#print(a[3],id(a),type(a))



#Dictionary
a = {
    "marks" : 12,
    "grade" : 'A',
    "marks" : 123
}

print(a)
print(id(a),type(a),isinstance(a,dict))
print(a["marks"])



#Type conversions
a = int(1223);
print(a,type(a),id(a))

a = float(a)
#a = str(27456)
print(a,type(a),id(a))

#tuple to set
a = ('Hello',"HEY",12,1232.8367,'Hello')
a = set(a)
print(a,type(a),id(a))

#set to list
a = list(a)
print(a,type(a),id(a))

#list to tuple
a = tuple(a)
print(a,type(a),id(a))

#string to int
print(int("2136"))
#print(str(23))

[1, 'Helloworld', 'A', True, 1.11, 'HEY', 'A']
[1, 'Helloworld', 'A', True, 12355.878, 'HEY', 'A']
140131440566400 <class 'list'>
140131438094832
('Hello', 'HEY', 12, 1232.8367, 'Hello') 140131438779264 <class 'tuple'>
1232.8367 140131438779264 <class 'tuple'>
{1, 2, 3, 4, 'Hello', 0.009853345554537122} 140131439367776 <class 'set'>
{'marks': 123, 'grade': 'A'}
140131438219200 <class 'dict'> True
123
1223 <class 'int'> 140131438853872
1223.0 <class 'float'> 140131438252432
{1232.8367, 'HEY', 12, 'Hello'} <class 'set'> 140131439367104
[1232.8367, 'HEY', 12, 'Hello'] <class 'list'> 140131439864832
(1232.8367, 'HEY', 12, 'Hello') <class 'tuple'> 140131439708256
2136

Operators and the evaluation

->Addition(+), Subtraction(-), Multiplication(*), Division(/), Modulo Division(%), Floor Division(//), Exponent(**)

In [ ]:
a = 10;
b = 20;
#arithmetic
print("Arithmetic operations results are : ")
print(b+a)
print(a+b)
print(b/a)
print(a/b)
print(b-a)
print(a-b)
print(b*a)
print(a*b)
print(b//a)
print(a//b)
print(b%a)
print(a%b)


#exponent
a = 2;
b = 3;
print("Value of a is {} and b is {}".format(a,b))
print("Value of a**b is  : "+str(a**b))
print("Value of b**a is : "+str(b**a))


#bitwise operators
print("Value of a&b is "+str(a & b))
print("Value of a|b is "+str(a | b))
print("Value of ~a is "+str(~a))
print("Value of ~b is "+str(~b))
print("Value of a>>b is "+str(a>>b))
print("Value of a<<b is "+str(a<<b))
print("Value of a^b is "+str(a^b))


#comparison operators
print("Value of a>b is : "+str(a>b))
print("Value of a>=b is : "+str(a>=b))
print("Value of a<b is : "+str(b>a))
print("Value of a<=b is : "+str(b>=a))
print("Value of a==b is : "+str(a==b))
print("Value of b==a is : "+str(b==a))


#Logical Operators
var = True;
var2 = False;
print("Value of var is {} and var2 is {}".format(True,False))
print("Value of var or var2 is : "+str(var or var2))
print("Value of var and var2 is : "+str(var and var2))


#Assignment Operators
a = 10;
a+=10;
print(a)
a=+10
print(a)
a-=10
print(a)
a=-10
print(a)
a**=a;
print(a)



#Identity Operators (is and is not)
l1 = [1,2,3]
l2 = [1,2,3]
print(l1 is l2)
l2 = [1,2,4]
print(l1 is l2)
print(l1 is not l2)



#Membership Operators(in and not in)
l1 = [1,2,4]
print(2 in l1);
print(7 not in l1)

Arithmetic operations results are :
30
30
2.0
0.5
10
-10
200
200
2
0
0
10
Value of a is 2 and b is 3
Value of a**b is  : 8
Value of b**a is : 9
Value of a&b is 2
Value of a|b is 3
Value of ~a is -3
Value of ~b is -4
Value of a>>b is 0
Value of a<<b is 16
Value of a^b is 1
Value of a>b is : False
Value of a>=b is : False
Value of a<b is : True
Value of a<=b is : True
Value of a==b is : False
Value of b==a is : False
Value of var is True and var2 is False
Value of var or var2 is : True
Value of var and var2 is : False
20
10
0
-10
1e-10
False
False
True
True
True

Conditional Statements(if,elif,else)

In [ ]:
#To check if number is positive or not
num = int(input("Enter the number : "));
if(num>0):
  print("Number is positive");
elif(num==0):
  print("Number is 0");
else:
  print("Number is negative");


#To find largest of all three numbers
num1 = int(input("Enter the first number : "));
num2 = int(input("Enter the second number : "));
num3 = int(input("Enter the third number : "));
if(num1>=num2 and num1>=num3):
  print("The largest of all three numbers is : "+str(num1));
elif(num2>=num3 and num2>=num1):
  print("The largest of all three numbers is : "+str(num2));
else:
  print("The largest of all three numbers is : "+str(num3));

Enter the number : 12
Number is positive
Enter the first number : 12
Enter the second number : 2321
Enter the third number : 11
The largest of all three numbers is : 2321

Loops(For and While)

In [ ]:
#for loops
#printing elements of list1
list1 = [1,3,5,6,8];
for i in list1:
  print(i);
  print(type(i));

print("\n\n\n\n");

#printing elements from 1 to 10
print("The numbers from 1 to 10");
#start,stop,step
for i in range(1,11,1):
  print(i);

print("\n\n\n\n");

#by default,starts from 0
for i in range(10):
  print(i);

#Multiple of 2
print("\n\n\n\n");
for i in range(2,21,2):
  print (i);

print("\n\n\n\n");
#printing table horizontally and vertically
for i in range (1,11,1):
  for j in range (1,11,1):
    print(str(i*j)+"   ",end="")   #Add argument end = "" in order to keep the cursor on the same line.
  print("\n");

print("\n\n\n\n");
#Printing the even numbers from the list taken as input from the user.
num = int(input("Enter the numbers you want to have : "));
list = [];
for i in range (1,num+1,1):
  x = int(input("Enter the number in list : "));
  list.append(x);
for element in list:
  if(element%2==0):
    print(str(element)+" ",end="");

print("\n\n\n\n");
#Print all odd numbers that are divisible by 3 using while loop.
num = int(input("Enter the maximum value you can have : "));
i = 3;
while i<=num:
  if(i%3==0 and i%2!=0):
    print(i)
  i = i+1;

1
<class 'int'>
3
<class 'int'>
5
<class 'int'>
6
<class 'int'>
8
<class 'int'>





The numbers from 1 to 10
1
2
3
4
5
6
7
8
9
10





0
1
2
3
4
5
6
7
8
9





2
4
6
8
10
12
14
16
18
20





1   2   3   4   5   6   7   8   9   10

2   4   6   8   10   12   14   16   18   20

3   6   9   12   15   18   21   24   27   30

4   8   12   16   20   24   28   32   36   40

5   10   15   20   25   30   35   40   45   50

6   12   18   24   30   36   42   48   54   60

7   14   21   28   35   42   49   56   63   70

8   16   24   32   40   48   56   64   72   80

9   18   27   36   45   54   63   72   81   90

10   20   30   40   50   60   70   80   90   100






Enter the numbers you want to have : 12
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 11
Enter the number in list : 23
Enter the number in list : 22
Enter the number in list : 22
Enter the number in list : 32
Enter the number in list : 12
22 22 32 12




Enter the maximum value you can have : 78
3
9
15
21
27
33
39
45
51
57
63
69
75

Break And Continue

In [ ]:
#Check if a given number is prime or not using the break,,
num = int(input("Enter the number : "));
i = 2;
isPrime = False;
while(i<num):
  if(num%i==0):
    isPrime = True;
    break;
  i=i+1;
if(isPrime == True):
  print("{} is not Prime".format(num));
else:
  print("{} is Prime".format(num));


#Print all odd numbers using continue statement
num = int(input("Enter the upper bound of the list : "));
for i in range(1,num+1,1):
  if(i%2==0):
    continue;
  else:
    print(i);
  i=i+1;

Enter the number : 12
12 is not Prime
Enter the upper bound of the list : 14
1
3
5
7
9
11
13

Lists
->Collection of items.
->Uses index values for the items.

In [ ]:
list = [];
print(list);

list1 = [1,2,3,'Hello'];
print(list1);
list1[1] = 5;
print(list1);

list3 = [1,2,3,[5,6,7]];
print(list3);


print("Length of list is " + str(len(list3)));


list.append('Hello');
print(list);
list.append("Everyone");
print(list);


#in extend..the values will be added at the end of list ..
#in append all the items will be inserted at a index...
list.extend(list1);
print(list);


#listname.insert(position,valuetobeinserted);
list.insert(2,"World");
print(list);

#remove vs delete
list.remove("World");
print(list);

#delete will delete from the index
del list[1];
print(list);
#delete from last
list.pop();
print(list);

#reverse
list.reverse();
print(list);

if 'Hello' in list:
  print("hey");
if 'Hello' not in list:
  print("Hello");


#sorting
#print(list.sort());

abc = [1,2,4];
list = abc;
print(id(abc),id(list));
print(abc,list);
abc[2] = 8;
print(abc,list);
print(id(abc),id(list));


#string to list
string  = "hey,how are you,I am great.";
l = string.split(',');  #argument - delimiter(by default it is space)
print(l);

print(l[-1],l[0]);


abc = [1,2,3,4,5,6,7,8,9,10];
print(abc);
print(abc[:]);
print(abc[2:])
print(abc[2::2]);
#printing in reverse
print(abc[-1: :-1]);

#finding the frequency of the element in the list.
print(abc.count(10));

#extending the list using the + operator
list1 = [1,2,3,4];
list2 = [7,8,9,0];
list3 = list1+list2;
print(list3);

#list comprehensions
#create list of tuples such that it is stored as only even number,square of the number
list = [(i,i**2) for i in range(11) if i%2==0];
print(list);

[]
[1, 2, 3, 'Hello']
[1, 5, 3, 'Hello']
[1, 2, 3, [5, 6, 7]]
Length of list is 4
['Hello']
['Hello', 'Everyone']
['Hello', 'Everyone', 1, 5, 3, 'Hello']
['Hello', 'Everyone', 'World', 1, 5, 3, 'Hello']
['Hello', 'Everyone', 1, 5, 3, 'Hello']
['Hello', 1, 5, 3, 'Hello']
['Hello', 1, 5, 3]
[3, 5, 1, 'Hello']
hey
139792743389504 139792743389504
[1, 2, 4] [1, 2, 4]
[1, 2, 8] [1, 2, 8]
139792743389504 139792743389504
['hey', 'how are you', 'I am great.']
I am great. hey
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]
[3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1
[1, 2, 3, 4, 7, 8, 9, 0]
[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

Strings
-->Immutable.

In [ ]:
string = "Hello";
print(id(string));
string = 'Hello';
print(id(string));
string = '''Hello''';
print(id(string));

print(string[3]);

#deleting one character is not possible.
#Entire string can be deleted using del
del string;
#print(string);

string = "abc ";
print(string * 4);
#string = reversed(string);
print(string);
print(string.upper());
print(string.lower());
print(string.find("c"));
string = string.replace("c","a");
print(string);
string = "Hello,I,am,a,good,person";
string = string.split(',');
print(string);
string = ''.join(string);
print(string);

139792972211888
139792972211888
139792972211888
l
abc abc abc abc
abc
ABC
abc
2
aba
['Hello', 'I', 'am', 'a', 'good', 'person']
HelloIamagoodperson

Tuples

In [ ]:
t = ('ABC', ('pqr', 'mno', 'jkl'));
print(t,type(t),id(t));
print(type(t[1]));
t = ('ABC', ['pqr', 'mno', 'jkl']);
print(t,type(t),id(t));
print(type(t[1]));
t[1][1]= "Hello";
print(t,type(t),id(t));
print(type(t[1]));
t= (1,2,3,45,6);
print(len(t));
print(max(t));
print(min(t));
t =(('Hello',)* 4);
print(t);
print(t.count('Hello'));
print(t.index('Hello'));
if 'Hello' in t:
  print("hell");

('ABC', ('pqr', 'mno', 'jkl')) <class 'tuple'> 139792743594496
<class 'tuple'>
('ABC', ['pqr', 'mno', 'jkl']) <class 'tuple'> 139792743568000
<class 'list'>
('ABC', ['pqr', 'Hello', 'jkl']) <class 'tuple'> 139792743568000
<class 'list'>
5
45
1
('Hello', 'Hello', 'Hello', 'Hello')
4
0
hell

Sets

In [ ]:
s = {1,2,3,5,6};
#s[0] = 9886;
print(s);
print(id(s));
print(type(s));
s.update({1,6,7,9},[12,2,34]);
print(s);
print(id(s));
s.add(2635);
print(s);
s.pop();
print(s);
s.remove(2);
print(s);
s.discard(187);
print(s);

{1, 2, 3, 5, 6}
139792901741696
<class 'set'>
{1, 2, 3, 34, 5, 6, 7, 9, 12}
139792901741696
{1, 2, 3, 34, 5, 6, 7, 9, 2635, 12}
{2, 3, 34, 5, 6, 7, 9, 2635, 12}
{3, 34, 5, 6, 7, 9, 2635, 12}
{3, 34, 5, 6, 7, 9, 2635, 12}